[Unit]
Description=Govee service

[Service]
Type=simple
User=root
ExecStart=/bin/govee --streamname=govee-data
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitInterval=1m
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target
